main {
  max-width: 100%;
  margin: auto;
  background-color: #fffff0;
  margin-top: 7%;
  position: flex;
  text-align: center;
}
body
{
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 1% 1%;
  overflow: hidden;
  background-color: #ffc800;
  text-align: right;
}

li {
  float: right;
  margin-right: 1%;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10% 1%;
  text-decoration: none;
}

li a:hover {
  color: #ffd900;
}
.navegacao {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;  
}
.navegacao img{
  margin-left: 3%;
  width: 4.1%;
  height: auto;
  position: absolute;
  margin-top: 0.5%;
}

.navegacao h1{
  margin-left: 7.3%;
  width: 5%;
  height: auto;
  position: absolute;
  margin-top: 0.7%;
}

#modalPiada{
  text-align: left;
  margin: auto;
}
#titulo{
  text-align: center; 
  margin-left: 0;
  font-size: 40px;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
}

#botoes{
  background-color: #ffc800;
  color: white;
  padding: 14px 10px;
  margin: 50px 0;
  border: none;
  cursor: pointer;
  width: 12%;
  font-size: 20px;
  border-radius: 20px;
  
}

#botoes:hover {
  background-color: #ffd900;
}

#piada{
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 50px;
  max-width: 40%;
  min-height: 40%;
  overflow-wrap: break-word;
  margin: auto;
  border-radius: 20px;
  border: yellow solid 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-optical-sizing: auto;
  position: relative;
}
#user{
font-size: 14px;
text-align: end;
position: absolute;
bottom: 8px;
right: 20px;
margin: 10px;
}